<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hi, {{name}}</p>
  <p>A reset password request was made for your account</p>
  <p>You can click on the link underneath to create a new password for you account</p>
  <strong>
    ATTENTION: DO NOT SHOW OR SEND THIS LINK TO OTHERS. THIS WOULD ALLOW THEM TO CHANGE
    YOUR PASSWORD AND GAIN ACCESS TO YOUR ACCOUNT
  </strong>
  <p>
    <a href="{{link}}">Reset my password</a>
  </p>
  <p>If you didn't request for password reset delete this email</p>
  <p>Thank you! 
    <br>
    <strong>Gobarber Team</strong>
  </p>
</div>